
@{
    ViewBag.Title = "Customer Logout Successfull";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}



<div class="bs-example">
    <div class="alert alert-success">

        <h2><strong>Successful!</strong>Logout</h2>
        <span class="alert-success"><a href="@Url.Action("Product", "Public")" class="close" data-dismiss="alert"> &times;</a></span>
    </div>
</div>