
@{
    ViewBag.Title = "Admin Pannel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bs-example">
    <div class="alert alert-warning">
        <a href="@Url.Action("Index", "Admin")" class="close" data-dismiss="alert">&times;</a>
        <strong>Successfull!!!</strong> Welcome to admin Pannel
    </div>
</div>

