@model IEnumerable<LimonSelling.Models.Category>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h2>Category</h2>

 @Html.Partial("_Subcategory",Model)

   


