
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}



<div class="bs-example">
    <div class="alert alert-success">
        
        <h2><strong>Thank You!</strong>for Shopping </h2>
        <span class="alert-success"><a href="@Url.Action("Product", "Public")" class="close" data-dismiss="alert">Continue Shopping &times;</a></span>
    </div>
</div>