
@{
    ViewBag.Title = "Category error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bs-example">
    <div class="alert alert-warning">
        <a href="@Url.Action("Index", "Category")" class="close" data-dismiss="alert">&times;</a>
        <strong>Warning!!!</strong> You Can not delete this Iteam.
    </div>
</div>

