
@{
    ViewBag.Title = "Product Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bs-example">
    <div class="alert alert-warning">
        <a href="@Url.Action("Index", "Product")" class="close" data-dismiss="alert">&times;</a>
        <strong> Update Successful!!!</strong> 
    </div>
</div>

