
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<main id="main" class="site-main clr">
    <header class="page-header wpex-supports-mods">
        <div class="page-header-inner container clr">
            <h1 class="page-header-title wpex-clr" itemprop="headline"><span>যোগাযোগ</span></h1>
        
        </div><!-- .page-header-inner -->
    </header><!-- .page-header -->
    <div id="content-wrap" class="container clr">
        <div id="primary" class="content-area clr">
            <div id="content" class="site-content clr">
                <article id="single-blocks" class="single-page-article wpex-clr">
                    <div class="single-page-content entry clr">
                        <p>
                            <b><span class="_3oh- _58nk">*</span></b> অফিস***<br>
                            ইনডিপেনডেন্ট-আইটি<br>
                            স্পেস #১৯৬ লেভেল# ৮,<br>
                            মুক্ত বাংলা শপিং কমপ্লেক্স ,<br>
                            মিরপুর ১<br>
                            হ্যালোঃ ০১৭৭৬৪৬১৪৫৭ / ০১৬৭৫৭৯২৩১৪
                        </p>
                        <p>সরাসরি অফিসে এসে অথবা অনলাইনে&nbsp;ভর্তি হতে পারবেন। বিস্তারিত জানতে কল করুন অথবা আমাদের ফেসবুক পেজ এ মেসেজ দিন ।</p>
                        <p>
                            আমাদের ফেসবুক পেজ&nbsp;ঃ&nbsp;<a href="https://www.facebook.com/independentit/" class="su-button su-button-style-soft" style="color:#FFFFFF;background-color:#2D89EF;border-color:#246ebf;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px" target="_blank"><span style="color:#FFFFFF;padding:0px 16px;font-size:13px;line-height:26px;border-color:#6cacf4;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none"> Facebook Page</span></a>
                        </p><p>
                            আমাদের ফেসবুক গ্রপঃ&nbsp;&nbsp;<a href="https://www.facebook.com/groups/independentit/" class="su-button su-button-style-soft" style="color:#FFFFFF;background-color:#2D89EF;border-color:#246ebf;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px" target="_blank"><span style="color:#FFFFFF;padding:0px 16px;font-size:13px;line-height:26px;border-color:#6cacf4;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none"> Facebook&nbsp; Group</span></a>
                        </p><p>গুগল ম্যাপ এ আমাদের অবস্থান&nbsp;ঃ</p>
                        <div class="su-gmap su-responsive-media-yes"><iframe width="600" height="400" src="//maps.google.com/maps?q=independent+it+mirpur+1+dhaka+bangladesh&amp;output=embed"></iframe></div>
                        <p>&nbsp;</p>
                        <p>ফর্মের মাধ্যমে আমাদের ইমেইল করতে পারেন ।</p>
                        <div role="form" class="wpcf7" id="wpcf7-f45-p36-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="/%E0%A6%AF%E0%A7%8B%E0%A6%97%E0%A6%BE%E0%A6%AF%E0%A7%8B%E0%A6%97/#wpcf7-f45-p36-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="45">
                                    <input type="hidden" name="_wpcf7_version" value="4.9.1">
                                    <input type="hidden" name="_wpcf7_locale" value="en_US">
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f45-p36-o1">
                                    <input type="hidden" name="_wpcf7_container_post" value="36">
                                </div>
                                <p>
                                    <label>
                                        নাম *<br>
                                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        আপনার ইমেইল *<br>
                                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        বিষয়<br>
                                        <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        আপনার বার্তা<br>
                                        <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span>
                                    </label>
                                </p>
                                <p><input type="submit" value="পাঠান" class="wpcf7-form-control wpcf7-submit"><span class="fa fa-refresh fa-spin wpex-wpcf7-loader"></span></p>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                </article><!-- #single-blocks -->
            </div><!-- #content -->
        </div><!-- #primary -->
        <aside id="sidebar" class="sidebar-container sidebar-primary" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
            <div id="sidebar-inner" class="clr">
                <div id="wpex_modern_menu-2" class="sidebar-box widget widget_wpex_modern_menu clr">
                    <div class="widget-title">ক্যাটাগরি</div><div class="menu-catmenu-container">
                        <ul id="menu-catmenu" class="modern-menu-widget">
                            <li id="menu-item-441" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-441"><a href="http://independent-it.com/freelance/">Freelance</a></li>
                            <li id="menu-item-448" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-448"><a href="http://independent-it.com/free-mastercard/">Payoneer card</a></li>
                            <li id="menu-item-455" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-455"><a href="http://independent-it.com/outsourcing/">Outsourcing</a></li>
                            <li id="menu-item-442" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-442"><a href="http://independent-it.com/tips-tricks/">Tips &amp; Tricks</a></li>
                            <li id="menu-item-443" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-443"><a href="http://independent-it.com/seo/">SEO</a></li>
                            <li id="menu-item-444" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-444"><a href="http://independent-it.com/wordpress/">WordPress</a></li>
                            <li id="menu-item-447" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-447"><a href="http://independent-it.com/social-media/">Social Media</a></li>
                            <li id="menu-item-449" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-449"><a href="http://independent-it.com/web-design/">Web Design</a></li>
                            <li id="menu-item-1220" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1220"><a href="http://independent-it.com/php/">PHP</a></li>
                            <li id="menu-item-1222" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1222"><a href="http://independent-it.com/make-money/">Make money</a></li>
                        </ul>
                    </div>
                </div><div id="custom_html-2" class="widget_text sidebar-box widget widget_custom_html clr">
                    <div class="widget-title">Join Our Facebook Group</div><div class="textwidget custom-html-widget">
                        <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
                            <tbody>
                                <tr style=""><td height="28" style="line-height:28px;">&nbsp;</td></tr>
                                <tr>
                                    <td style="">
                                        <table border="0" width="248" cellspacing="0" cellpadding="0" style="border-collapse:separate;background-color:#ffffff;border:1px solid #dddfe2;border-radius:3px;font-family:Helvetica, Arial, sans-serif;margin:0px auto;">
                                            <tbody>
                                                <tr style="padding-bottom: 8px;"><td style=""><img class="img" src="https://scontent.fdac16-1.fna.fbcdn.net/v/t31.0-0/c0.0.567.296/p526x296/25188716_1634007503312590_7681516792243554790_o.jpg?_nc_cat=0&amp;_nc_eui2=AeH8ui7bRYJys7K5hOo5Gp3OBolZfxzoQ-AOmV_cvhvep9DgNObk1kfxmgy3fgleom3OcpEcUsMYC_PThNF-lvqC3CWS6Kswvmwice3MZTSi7A&amp;oh=314ad0adc0318ec72224f79b329c3b75&amp;oe=5B82E529" width="280" height="146" alt=""></td></tr>
                                                <tr><td style="font-size:14px;font-weight:bold;padding:8px 8px 0px 8px;text-align:center;">Independent-IT</td></tr>
                                                <tr><td style="color:#90949c;font-size:12px;font-weight:normal;text-align:center;">Facebook Group · 46,767 members</td></tr>
                                                <tr><td style="padding:8px 12px 12px 12px;"><table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;"><tbody><tr><td style="background-color:#4267b2;border-radius:3px;text-align:center;"><a style="color:#3b5998;text-decoration:none;cursor:pointer;width:100%;" href="https://www.facebook.com/plugins/group/join/popup/?group_id=1788749604670148&amp;source=email_campaign_plugin" target="_blank" rel="noopener"><table border="0" cellspacing="0" cellpadding="3" align="center" style="border-collapse:collapse;"><tbody><tr><td style="border-bottom:3px solid #4267b2;border-top:3px solid #4267b2;"><img width="16" src="https://facebook.com/images/groups/plugin/email/app_fb_32_fig_white.png"></td><td style="border-bottom:3px solid #4267b2;border-top:3px solid #4267b2;color:#FFF;font-family:Helvetica, Arial, sans-serif;font-size:12px;font-weight:bold;">Join Group</td></tr></tbody></table></a></td></tr></tbody></table></td></tr>
                                                <tr>
                                                    <td style="border-top:1px solid #dddfe2;font-size:12px;padding:8px 12px;">
                                                        অফিস
                                                        ইনডিপেনডেন্ট-আইটি
                                                        স্পেস #১৯৬+১৯৮ লেভেল# ৮,
                                                        মুক্ত বাংলা শপিং কমপ্লেক্স ,
                                                        মিরপুর ১
                                                        হ্যালোঃ ০১৬৭৫৭৯২৩১৪
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr style=""><td height="14" style="line-height:14px;">&nbsp;</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div><div id="text-3" class="sidebar-box widget widget_text clr">
                    <div class="widget-title">ভর্তি প্রক্রিয়া</div>			<div class="textwidget">
                        <p>
                            ভর্তি হওয়ার জন্য নিচের ধাপগুলো অনুসরণ করুন :<br>
                            ১)  এরপর হটলাইনে কল করে আপকামিং কবে কবে ব্যাচ শুরু হচ্ছে এবং ভর্তির শেষ তারিখ কবে জেনে নিন । হটলাইন নাম্বারঃ 01776461457
                        </p>
                        <p>2) এরপর 2 কপি পাসপোর্ট সাইজ এর ছবি এবং জাতীয় পরিচয়পত্র অথবা জন্ম নিবন্ধন এর ফটোকপি এবং কোর্স ফি নিয়ে অফিসে চলে আসুন ভর্তির জন্য । যারা ঢাকার বাইরে থাকেন অথবা অনেক দূরে থাকেন তারা বিকাশ এর মাধ্যমে পেমেন্ট করেও সীট বুক করতে পারবেন</p>
                        <p>3) ভর্তির আগে অবশ্যই কথা বলে জেনে নিন প্রতিদিন কত ঘন্টা সময় দিতে হবে এবং কোর্সে কি কি শেখানো হবে, সাপোর্ট কিভাবে দেয়া হবে এবং কোর্স চলাকালীন সময়ে কি কি করণীয় ।</p>
                    </div>
                </div>
            </div><!-- #sidebar-inner -->
        </aside><!-- #sidebar -->
    </div><!-- .container -->

</main>


