@{
    ViewBag.Title = "KrishiAnchal";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="inner-main-body">
    <div class="inner-brief-main-points">
        <div class="points-body">
            <p><strong>কৃষি অঞ্চল সমূহের তালিকা :</strong></p>

            <ul>
                <li><strong>অঞ্চল- ১:</strong> পঞ্চগড় ও ঠাকুরগাঁও এর অধিকাংশ এবং দিনাজপুরের উত্তর পশ্চিমাংশ। :</li>
                <li><strong>অঞ্চল -২ :</strong> রংপুর, কুড়িগ্রাম, নীলফামারী, লালমনিরহাট ও গাইবান্ধা</li>
                <li><strong>অঞ্চল -৩:</strong> রংপুরের অধিকাংশ, দিনাজপুরের ও পঞ্চগড়ের পূর্বাঞ্চল, বগুড়ার উত্তরাঞ্চল, জয়পুরহাট, নওগাঁ ও রাজশাহীর অংশ বিশেষ।</li>
                <li><strong>অঞ্চল-৪:</strong> বগুড়ার পূর্বাঞ্চল ও সিরাজগঞ্জের অধিকাংশ এলাকা।</li>
                <li><strong>অঞ্চল-৫:</strong> নওগাঁ ও নাটোরের অধিকাংশ এবং রাজশাহী, বগুড়া ও সিরাজগঞ্জের সামান্য এলাকা।</li>
                <li><strong>অঞ্চল -৬:</strong> নওগাঁর পশ্চিমাংশ ও নবাবগঞ্জের উত্তরাংশ।</li>
                <li><strong>অঞ্চল -৭:</strong> কুড়িগ্রাম, গাইবান্ধা, বগুড়া, পাবনা, সিরাজগঞ্জ ও মানিকগঞ্জের পূর্বাংশ।</li>
                <li><strong>অঞ্চল -৮:</strong> শেরপুর, জামালপুর, ও টাংগাইল জেলার পশ্চিমাংশ।</li>
                <li><strong>অঞ্চল -৯:</strong> জামালপুর, শেরপুর, টাংগাইল, ময়মনসিংহ, নেত্রকোনা, কিশোরগঞ্জ, নরসিংদী, ও নারায়ণগঞ্জ।</li>
                <li><strong>অঞ্চল -১০:</strong> নবাবগঞ্চ এবং রাজশাহীর গঙ্গা ও মেঘনা অববাহিকা হতে লক্ষীপুর ও বরিশালের মেঘনা মোহনা।</li>
                <li><strong>অঞ্চল -১১:</strong> রাজশাহী নবাবগঞ্জ, পাবনার দক্ষিণাংশ, কুষ্টিয়া, চুয়াডাঙ্গা, মেহেরপুর, ঝিনাইদহ, মাগুরা, যশোর, সাতক্ষীরা এবং খুলনা।</li>
                <li><strong>অঞ্চল -১২:</strong> নাটোর, পাবনা, ফরিদপুর, গোপালগঞ্জ, শরিয়তপুর, কুষ্টিয়া, মাগুরা এবং নড়াইল। খুলনা ও বাগেরহাটের (উত্তর পূর্বাঞ্চল), বরিশাল (উত্তরাঞ্চল), মানিকগঞ্জ, ঢাকা এবং মুন্সীগঞ্জ (দক্ষিণ পশ্চিমাঞ্চল)</li>
                <li><strong>অঞ্চল -১৩:</strong> বরিশাল, ঝালকাঠি, পিরোজপুর, পটুয়াখালী, বরগুনা, সাতক্ষীরা, খুলনা, বাগেরহাট।</li>
                <li><strong>অঞ্চল -১৪:</strong> মাদারিপুর, গোপালগঞ্জ, নড়াইল, যশোর, বাগেরহাট এবং খুলনা।</li>
                <li><strong>অঞ্চল -১৫:</strong> মুন্সীগঞ্জ ও ঢাকা।</li>
                <li><strong>অঞ্চল -১৬:</strong> কিশোরগঞ্জ, ব্রাক্ষ্মণবাড়িয়া, কুমিল্লা, চাঁদপুর, নরসিংদী, ও নারায়গঞ্জ এর অংশ ।</li>
                <li><strong>অঞ্চল -১৭:</strong> চাঁদপুর, লক্ষীপুর ও নোয়াখালী।</li>
                <li><strong>অঞ্চল -১৮:</strong> চট্রগ্রাম, ফেণী, লক্ষীপুর, নোয়াখালী, ভোলা, বরিশাল, পটুয়াখালী ও বরগুনা।</li>
                <li><strong>অঞ্চল -১৯:</strong> হবিগঞ্জ, ব্রাক্ষ্মনবাড়িয়া, কিশোরগঞ্জ, কুমিল্লা, চাঁদপুর, ফেনী, নোয়াখালী, লক্ষীপুর, ঢাকা, নরসিংদী, নারায়ণগঞ্জ, শরিয়তপুর, মাদারিপুর, গোপালগঞ্জ ও বরিশাল।</li>
                <li><strong>অঞ্চল -২০:</strong> সিলেট, সুনামগঞ্জ, মৌলভীবাজার ও হবিগঞ্জ।</li>
                <li><strong>অঞ্চল -২১:</strong> সুনামগঞ্জ, হবিগঞ্জ নেত্রকোনা, কিশোরগঞ্জ এবং ব্রাক্ষ্মণবাড়িয়া।</li>
                <li><strong>অঞ্চল -২২:</strong> শেরপুর, নেত্রকোনা, সুনামগঞ্জ, সিলেট, মৌলভীবাজার, কুমিল্লা, হবিগঞ্জ, ব্রাক্ষ্মণবাড়িয়া এবং কুমিল্লা।</li>
                <li><strong>অঞ্চল -২৩:</strong> ফেনী চট্রগ্রাম এবং কক্সবাজার।</li>
                <li><strong>অঞ্চল -২৪:</strong> কক্সবাজার (সেন্ট মার্টিন দ্বীপ)</li>
                <li><strong>অঞ্চল -২৫:</strong> দিনাজপুর, গাইবাদ্ধা, জয়পুরহাট, বগুড়া, নওগাঁ, সিরাজগঞ্জ এবং নাটোর।</li>
                <li><strong>অঞ্চল -২৬:</strong> রাজশাহী, নবাবগঞ্জ এবং নওগাঁ।</li>
                <li><strong>অঞ্চল -২৭:</strong> গাইবান্ধা, রংপুর, বগুড়া, দিনাজপুর, এবং জয়পুরহাট।</li>
                <li><strong>অঞ্চল -২৮:</strong> ঢাকা, গাজীপুর, নরসিংদী, নারায়ণগঞ্জ, টাংগাইল, ময়মনসিংহ এবং কিশোরগঞ্জ।</li>
                <li><strong>অঞ্চল -২৯:</strong> খাগড়াছড়ি, বান্দরবন, রাঙ্গামাটি, চট্রগ্রাম, কক্সবাজার, হবিগঞ্জ এবং মৌলভীবাজার।</li>
                <li><strong>অঞ্চল -৩০ :</strong> আখাউড়া ব্রাক্ষ্মণবাড়িয়া এবং হবিগঞ্জ জেলার কিয়দংশ।</li>
            </ul>
        </div>
    </div>
    <div class="inner-tabs nav nav-tabs" role="tablist">

    </div>
</div>
