@{
    ViewBag.Title = "Mati";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="inner-main-head">
    মাটির সংজ্ঞা
</div>

<div class="inner-main-body">
    <div class="inner-brief-main-points">
        <div class="points-body">
            <p>
                <strong>
                    মাটির সংজ্ঞাঃ<br>
                    মৃৎবিজ্ঞানীগণ মাটির নানারূপ সংজ্ঞা দিয়েছেন, যেমনঃ
                </strong><br>
                (১) ভূ-পৃষ্ঠের নরম আবরনের নাম মৃত্তিকা<br>
                (২) উদ্ভিদ জন্মানোর উপযোগী খনিজ, জীব ও জৈব সমন্বয়ে গতিশীল প্রাকৃতিক বস্তুকে মৃত্তিকা বলে<br>
                (৩) সময়ের ব্যবধানে জলবায়ূ ও জৈব পদার্থের সমন্বিত প্রভাবে রূপান্তরিত উৎস শিলা সৃষ্ট গাছ জন্মানোর উপযোগী ভূ-পৃষ্ঠের প্রাকৃতিক বস্তর সমষ্টিকে মৃত্তিকা বলে<br>
                (৪) পৃথিবীর উপরিভাগের যে নরম স্তরে গাছপালা মূল স্থাপন করে রস শোষণ করে জন্মায় ও বৃদ্ধি পায় তাকে মাটি বলে<br>
                (৫) মাটি হচ্ছে কঠিন পদার্থের ছোট ছোট টুকরা, পানি ও বায়ুর সমন্বয়ে গঠিত যৌগিক পদার্থ<br>
                (৬) পৃথিবীর শক্ত আবণের সবচেয়ে উপরের স্তরকে মাটি বলে।
            </p>
        </div>
    </div>
    <div class="inner-tabs nav nav-tabs" role="tablist">

    </div>
</div>

<div class="inner-main-head">
    মাটির ভৌত গুনাবলী ও ধর্ম
</div>

<div class="inner-main-body">
    <div class="inner-brief-main-points">
        <div class="points-body">
            <p>
                মৃত্তিকার ভৌত গঠন<br>
                মাটি একটি প্রাকৃতিক বস্তু। ক্ষয়ীভুত শিলা ও খনিজের সাথে জৈব পদার্থ ও পানি মিশ্রিত হয়ে দিনে দিনে মৃত্তিকা উৎপন্ন হয়। কোন মৃত্তিকা নমুনা বিশ্লেষণ করলে কঠিন, তরল এবং বায়বীয় আকারে নিম্নরুপ দ্রব্য পাওয়া যায়-<br>
                ক) খনিজ দ্রব্য<br>
                &nbsp; ১. নুড়ি বা প্রস্তর<br>
                &nbsp; ২. বালি কণা<br>
                &nbsp; ৩. পলি কণা<br>
                &nbsp; ৪. কর্দম কণা<br>
                এদের প্রকার ভিত্তিক পরিমান মৃত্তিকা ভেদে ভিন্ন।<br>
                খ) জৈব পদার্থ<br>
                &nbsp; ১. বিয়োজনশীল জৈব পদার্থ প্রয়োগকৃত জৈব সার, ফসলের অবশিষ্টাংশ, মৃত।<br>
                &nbsp; ২. অবিয়োজিত উদ্ভিদাংশ স্থূল শিকড় ও শাখ-প্রশাখা, অন্যান্য উদ্ভিদাংশ।<br>
                &nbsp; ৩. হিউমাস-জৈব পদার্থ বিয়োজিত হওয়ার পর সৃষ্ট কালচে পদার্থ।<br>
                &nbsp; ৪. অণুজীব ও প্রাণী, ব্যকটেরিয়া, শ্যাওলা, ছত্রাক এক্টিনোমাইসেটিস, কোঁচো ও পোকা-মাকড়।<br>
                গ) পানি<br>
                &nbsp; সেচ ও বৃষ্টির পানি এবং নদী উৎস থেকে প্রাপ্ত পানি।<br>
                ঘ) বায়ু<br>
                &nbsp; মৃত্তিকা কণার ফাঁকে অবস্থানরত বায়ুমন্ডলীয় বায়ু। এছাড়া মাটিতে কঠিন পদার্থেও মধ্যে রয়েছে ক্যালসিয়াম কার্বোনেট, ফেরাস অক্সাইড, সিলিকণ ডাই-অক্সাইড।<br>
                <br>
                মৃত্তিকা গঠন দ্রব্যের (Components) পরিমান<br>
                মাটিতে গঠন দ্রব্যের পরিমান প্রধানত দু’ভাবে উল্লেখ করা হয় যথা -<br>
                আয়তন ভিত্তিক<br>
                এবং ওজন ভিত্তিক-<br>
                যে কোন দুইটি নমুনায় মৃত্তিকা দ্রব্যের প্রকার ও পরিমানগত সাদৃশ্য হওয়ার সম্ভবনা কম। অর্থাৎ বলা যায় মৃত্তিকা উপকরণের প্রকার ও পরিমানগত বিবেচনায় মাটি অত্যন্ত অবিমিশ্র। তালিকায় সাধারন কৃষি মৃত্তিকায় গঠন দ্রব্যের পরিমান দেখানো হলোঃ-
            </p>

            <table border="1" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td rowspan="3" valign="top">
                            <p align="center">উপকরণ</p>
                        </td>
                        <td colspan="4" valign="top">
                            <p align="center">পরিমান</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" valign="top">
                            <p align="center">আয়তনভিত্তিক</p>
                        </td>
                        <td colspan="2" valign="top">
                            <p align="center">ওজনভিত্তিক</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p align="center">মাত্রা</p>
                        </td>
                        <td valign="top">
                            <p align="center">গড়</p>
                        </td>
                        <td valign="top">
                            <p align="center">মাত্রা<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">গড়</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p align="center">খনিজ<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৪০<span lang="BN" xml:lang="BN">-</span>৫০<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৪৫<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৬০<span lang="BN" xml:lang="BN">-</span>৯০<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৭৫</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p align="center">জৈব<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৪<span lang="BN" xml:lang="BN">-</span>৬<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৫</p>
                        </td>
                        <td valign="top">
                            <p align="center"><span lang="BN" xml:lang="BN">&lt;</span>২</p>
                        </td>
                        <td valign="top">
                            <p align="center"><span lang="BN" xml:lang="BN">&lt;</span>১</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p align="center">বায়ু<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">১<span lang="BN" xml:lang="BN">-</span>৫০<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">২৫</p>
                        </td>
                        <td valign="top">
                            <p align="center"><span lang="BN" xml:lang="BN">&lt;</span>১</p>
                        </td>
                        <td valign="top">
                            <p align="center"><span lang="BN" xml:lang="BN">&lt;</span>১</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p align="center">পানি<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">১<span lang="BN" xml:lang="BN">-</span>৫০<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">২৫<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">১৫<span lang="BN" xml:lang="BN">-</span>৩৩<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">২৪<span lang="BN" xml:lang="BN"> </span></p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>
                <br>
                মৃত্তিকা উপকরণ দ্রব্যের পরিমান নির্ণয় করে তা কৃষি কাজ এবং গবেষণা কাজে ব্যবহার করা যায়। মাটির উপকরণের পরিমানগত হিসাব নানাভাবে ব্যবহার করা যায়। নিচে মৃত্তিকা দ্রব্যের আয়তন ও ওজনভিত্তিক হিসাবের প্রধান প্রধান ব্যবহার উল্লেখ করা হলো।
            </p>

            <p>&nbsp;</p>

            <table border="1" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td valign="top"><strong>আয়তনভিত্তিক ব্যবহার</strong></td>
                        <td valign="top"><strong>ওজনভিত্তিক ব্যবহার</strong></td>
                    </tr>
                    <tr>
                        <td valign="top">১। পানি সেচ</td>
                        <td valign="top">১। মৃত্তিকা গবেষণা ফলাফল</td>
                    </tr>
                    <tr>
                        <td valign="top">২। মাটির ভৌত গুণাবলী</td>
                        <td valign="top">২। মালির মৌলিক গুণাবলী</td>
                    </tr>
                    <tr>
                        <td valign="top">৩। মাটির রন্ধ্রতা ও চলাচল</td>
                        <td valign="top">৩। মাটির রাসায়নিক বৈশিষ্ট</td>
                    </tr>
                </tbody>
            </table>

            <p>
                <br>
                মাটির ভৌত ধর্ম মাটির ভৌত, রাসায়নিক ও জৈবিক ধর্মের মধ্যে মাটির ভৌত ধর্মকে প্রাথমিক বৈশিষ্ট্য হিসেবে গণ্য করা হয়। মাটির ভৌত ধর্ম প্রত্যক্ষভাবে ফসল উৎপাদন এবং পরিবেশ সংরক্ষণ নিয়ন্ত্রন করে। মাটির ভৌত ধর্ম উৎপন্নের জন্য এতে বিদ্যমান স্থূল প্রস্তও থেকে অতি সুক্ষ্ম কর্দম কণা পর্যন্ত সকল প্রকার খনিজের অবদান রয়েছে। তবে সাধারণ কৃষি জমিতে স্থূল প্রস্তর ও নুড়ি আকারের দ্রব্য থাকেনা বলে প্রধানত বালি, পলি ও কর্দম কণাই বেশি উল্লেখযোগ্য। মৃত্তিকা খনিজের মধ্যে বালি, পলি ও কর্দম কণাকে মাটি কণা (Soil particle) বা মৃত্তিকা একক কণা বলে। সংজ্ঞা হিসাবে বলা যায় - দুই মিলিমিটারের কম ব্যস বিশিষ্ট নিদিষ্ট আকার মাত্রায় অন্তর্ভুক্ত খনিজ কণাকে একক কণা বলে। মাটির কণা ৩ প্রকার যথা- বালিকণা, পলি কণা ও কর্দম কণা। আকার অনুসারে বালি কণা ১-৫প্রকার এবং পলি কণা ও কর্দম কণা ২-৩ পকার হতে পারে।
            </p>
        </div>
    </div>
    <div class="inner-tabs nav nav-tabs" role="tablist">

    </div>
</div>

<div class="inner-main-head">
    মাটির বৈশিষ্ট্য
</div>

<div class="inner-main-body">
    <div class="inner-brief-main-points">
        <div class="points-body">
            <p><strong>মাটির বৈশিষ্ট (Soil properties)</strong></p>

            <p>
                মাটিতে বিদ্যমান কঠিন, তরল বা বায়বীয় পদার্থ যৌথভাবে একটি বিশেষ প্রকৃতি উৎপন্ন করে। মাটির এই প্রকৃতি প্রকাশের জন্য মাটির সকল বৈশিষ্ট্যকে নিম্নরূপ ৩টি শ্রেণীতে বর্ণনা করা হয়। যেমন-<br>
                ক) মাটির ভৌত বৈশিষ্ট্য<br>
                খ) মাটির রাসানিক বৈশিষ্ট্য<br>
                গ) মাটির জৈবিক বৈশিষ্ট্য
            </p>

            <p>
                <br>
                <strong>জমি চাষাবাদ, ফসল উৎপাদন ও মৃত্তিকা উর্বরতা ব্যবস্থাপনায় মাটির ভৌত রাসায়নিক ও জৈবিক ধর্মের প্রভাব খুব তাৎপর্যপূর্ণ।</strong>
            </p>

            <p>
                মৃত্তিকা বৈশিষ্ট্য প্রভাবিত কতগুলো কৃষিতাত্তিক প্রক্রিয়া নিচে উল্লেখ করা হলো।<br>
                ১। বীজের অঙ্কুরোদ্গম<br>
                ২। তাপমাত্রা ও বায়ুচলাচল<br>
                ৩। পানি চলাচল ও ভুমি ক্ষয়<br>
                ৪। উদ্ভিদ শিকড়ের বিসতৃতি ও প্রতিষ্ঠা<br>
                ৫। অণুজৈবিক পরিবেশ নিয়ন্ত্রণ<br>
                ৬। উদ্ভিদ ধারণ ও পুষ্টি সরবরাহ
            </p>
        </div>
    </div>
    <div class="inner-tabs nav nav-tabs" role="tablist">

    </div>
</div>

<div class="inner-main-head">
    মৃত্তিকা কণা
</div>

<div class="inner-main-body">
    <div class="inner-brief-main-points">
        <div class="points-body">
            <p>
                বিভিন্ন আকার ও গুণসম্পন্ন মৃত্তিকা কণার সম্বনয়ে মাটির মূল কাঠামো তৈরি হয়। এসব কণার আকার সম্পর্কে গবেষকগণের মধ্যে দেশে দেশে পার্থক্য থাকতে পারে। বর্তমানে মৃত্তিকা কণার আকার পরিমাপের জন্য আর্ন্তজাতিক পদ্ধতি এবং যুক্তরাষ্ট্র পদ্ধতি চালু রয়েছে। এখানে এই দুইটি পদ্ধতিতে নির্ধারিত মৃত্তিকা কণার পরিমাপ উল্লেখ করা হলো। যুক্তরাষ্ট্র পদ্ধতিতে মৃত্তিকা কণা ৭ প্রকার। এর মধ্যে ৫ ধরনের বালি কণা, ১ ধরনের পলি কণা এবং ১ ধরনের কর্দম কণা অপরদিকে আন্তর্জাতিক পদ্ধতিতে মৃত্তিকা কণা ৪ প্রকার। এর মধ্যে ২ ধরনের বালি কণা, ১ ধরনের পলি কণা এবং ১ ধরনের কর্দম কণা রয়েছে।<br>
                <br>
                <strong>(১) বালি কণা</strong><br>
                আন্তর্জাতিক পদ্ধতিতে বালি কণাকে মোট ২ ভাগ করা হয়েছে। যেমন স্থূল বালি কণা ও সূক্ষ্ম বালি কণা। আন্তর্জাতিক পদ্ধতিতে সূক্ষ্ম বালির চেয়ে স্থূল বালি সর্বাধিক প্রায় ১০০ গুণ বড়। যুক্তরাষ্ট্র কৃষি বিভাগ কর্তৃক প্রণীত পদ্ধতি অনুসােও ০.০২ থেকে ২.০০ মিলিমিটার ব্যাসের একক কণাকে ৫ ভাগ করা হয়েছে, যেমন- খুব স্থূল, পলি, স্থূল বালি, মধ্যম বালি, সূক্ষ্ম বালি ও খুব সূক্ষ্ম বালি। যুক্তরাষ্ট্র পদ্ধতিতে খুব সূক্ষ্ম বালির চেয়ে খুব স্থূল বালি কণা সর্বাধিক।
            </p>

            <p style="text-align: center;"><strong>মৃত্তিকা কণার নাম ও আকার</strong></p>

            <table border="1" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td rowspan="2" valign="top">
                            <p align="center">মৃত্তিকা&nbsp;কণার&nbsp;নাম<span lang="BN"> </span></p>
                        </td>
                        <td colspan="2" valign="top">
                            <p align="center">ব্যাস&nbsp;<span lang="BN">(</span>মিলিমিটার</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p align="center">আন্তর্জাতিক&nbsp;পদ্ধতি<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">যুক্তরাষ্ট্র&nbsp;<span lang="BN-BD">পদ্ধতি&nbsp;</span>(USDA)</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>খুব&nbsp;স্থূল&nbsp;বালি&nbsp;কণা <span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p>২<span lang="BN">.</span>০০<span lang="BN">-</span>০<span lang="BN">.</span>২০<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p>২<span lang="BN">.</span>০০<span lang="BN">-</span>১<span lang="BN">.</span>০০</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>স্থূল&nbsp;বালি&nbsp;কণা<strong><span lang="BN"> </span></strong></p>
                        </td>
                        <td valign="top">
                            <p>০<span lang="BN">.</span>২০<span lang="BN">-</span>০<span lang="BN">.</span>০২<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p>১<span lang="BN">.</span>০০<span lang="BN">-</span>০<span lang="BN">.</span>৫০</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>মধ্যম&nbsp;বালি&nbsp;কণা</p>
                        </td>
                        <td valign="top">
                            <p><span lang="BN">-</span><span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p>০<span lang="BN">.</span>৫০<span lang="BN">-</span>০<span lang="BN">.</span>২৫</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>সূক্ষ্ম&nbsp;বালি&nbsp;কণা<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p>০<span lang="BN">.</span>২০<span lang="BN">-</span>০<span lang="BN">.</span>০২<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p>০<span lang="BN">.</span>২৫<span lang="BN">-</span>০<span lang="BN">.</span>১০</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>খুব&nbsp;সূক্ষ্ম&nbsp;বালি&nbsp;কণা</p>
                        </td>
                        <td valign="top">
                            <p><span lang="BN">-</span><span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p>০<span lang="BN">.</span>১০<span lang="BN">-</span>০<span lang="BN">.</span>০৫</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>পলি&nbsp;কণা<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p>০<span lang="BN">.</span>০২<span lang="BN">-</span>০<span lang="BN">.</span>০০২<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p>০<span lang="BN">.</span>০৫<span lang="BN">-</span>০<span lang="BN">.</span>০০২</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>কর্দম&nbsp;কণা</p>
                        </td>
                        <td valign="top">
                            <p><span lang="BN">&lt;</span>০<span lang="BN">.</span>০০২<strong> </strong></p>
                        </td>
                        <td valign="top">
                            <p><span lang="BN">&lt;</span>০<span lang="BN">.</span>০০২<strong><span lang="BN"> </span></strong></p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>
                <br>
                মাটির উর্বরতা ও অন্যান্য গুণাবলীতে বালি কণার প্রভাব<br>
                1. উদ্ভিদকে শারিরীকভাবে ধারণ করতে সহায়তা করে।<br>
                2. মাটির মূল কাঠামো তৈরি করে।<br>
                3. বালিকণা মাটির বায়ূ চরাচল বাড়ায়।<br>
                4. মাটির তাপ নিয়ন্ত্রন করে।<br>
                5. ভূমি কর্ষণ সহজতা নির্ধারণ করে।<br>
                6. বেলে মাটিতে ভূমি ক্ষয় কম হয়।<br>
                7. মাটিতে ডেলা তৈরি হয়না, দৃঢ়তা কম থাকে।<br>
                8. বালি কণা পানির অনুপ্রবেশ ও অনুস্রবণ হার বাড়ায়।<br>
                9. মাটির বহন ক্ষমতা বাড়ায়।<br>
                বালি কণা স্বণ্পভাবে ক্ষয়ীভূত হয় এবং রাসায়নিকভাবে অপরিবর্তিত থকে। তাই উদ্ভিদের খাদ্যেপাদান সরবরাহে বালি কণার তেমন প্রত্যক্ষ নাই।
            </p>

            <p>
                <br>
                <strong>(২) পলি কণা</strong><br>
                মৃত্তিকা কণার মধ্যে পলির আকার বালি কণা ও কর্দম কণার মাঝামাঝি। যুক্তরাষ্ট্র পদ্ধতির পরিমাপ অনুসারে পলি কণার ব্যাস ০.০০২-০.০৫ মি.মি, কিন্তু আন্তর্জাতিক পদ্ধতির চেয়ে যুক্তরাষ্ট্র পদ্ধতিতে পলির পরিমান বেশি এবং বালির পরিমান কম হবে। মাটির উর্ববরতা পলি কণার প্রভাব বালি কণা ও কর্দম কণার মাঝামাঝি। পলি কণা পলি মাটির কাঠামো তৈরি থেকে শুরু করে পুষ্টি উপাদান সরবরাহ কাজে অংশ গ্রহন করে। অন্যান্য রাসায়নিক গুণাবলীতেও পলির ভমিকা বালি ও কর্দম কণার তুলনায় মধ্যম। বিশ্বের যে কোন মাটিতে বিভিন্ন পরিমানে সকল আকারের কণাই উপস্থিত থাকে। এর যে কোন এক প্রকার কণার ঘাটতি থাকলে উক্ত স্থানে উত্তম কৃষি জমি উৎপাদিত হয়না। অবশ্য বালি কণার পরিমানের উপর মাটির ভৌত গুণাবলী ও উর্বরতা অনেকাংশে নির্ভর করে।
            </p>

            <p>
                <br>
                <strong>(৩) কর্দম কণা</strong><br>
                আন্তর্জাতিক পদ্ধতি ও যুক্তরাষ্ট্র কৃষি বিভাগ অনুসারে ০.০০২ মি.মি. কম ব্যাস বিশিষ্ট মৃত্তিকা কণা কর্দম কণা হিসাবে বিবেচিত হয়। কোন একটি কর্দম কণার আকার অবয়ব দেখার জন্য ইলেকট্রোন মাইক্রোস্কোপের প্রয়োজন হয়। আকারে অতি সূক্ষ্ম হলেও ভূমির উর্বরতায় কর্দম কণার গুরুত্ব খুবই তাৎপর্যপূর্ণ। যেমন-
            </p>

            <ul>
                <li>পুষ্টি উপাদান সরবরাহঃ উদ্ভিদ পুষ্টি উপাদান সরবরাহে সরাসরি অংশ গ্রহণ করে। সহজে বিয়োজনযোগ্য মাইটজাত কর্দম কণা উদ্ভিদে প্রচুর পটাশিয়াম সরবরাহ করে।</li>
                <li>উপাদান শোষণঃ ধনাত্নক আয়ন উপশোষনকারী হিসেবে উপাদান পরিশোষনে সহায়তা করে।</li>
                <li>মাটির গুণাবলীঃ মাটির সকল রাসায়নিক গুণাবলীতে উল্লেখযোগ্যভাবে প্রভাব বিস্তার করে।</li>
                <li>বাফার ক্ষমতাঃ মাটির বাফার ক্ষমতা বাড়ায়।</li>
                <li>আয়ন বিনিময় প্রক্রিয়াঃ মাটির আয়ন বিনিময় প্রক্রিয়া নিয়ন্ত্রন করে।</li>
                <li>পানি ধারণক্ষমতাঃ মাটির পানি ধারণ ক্ষমতা বাড়ায়।</li>
                <li>মৃত্তিকা - শিকড় সম্পর্কঃ মাটির কণা ও শিকড়ের মধ্যে ঘনিষ্ঠতা বাড়ায়।</li>
                <li>পুষ্টি সংরক্ষণঃ উদ্ভিদ খাদ্যোপাদানের সংরক্ষক হিসেবে কাজ করে। 9. মাটির কমনীয়তাঃ মাটির কমনীয়তা ও সমপ্রসারনশীলতা বৃদ্ধি করে।</li>
                <li>মাটির কণার উপরায়তনঃ মাটির কণার মোট উপরায়তন (Surface area) বাড়ায়।</li>
                <li>ভৌত-রাসয়নিক গুণাবলীঃ মাটির ভৌত-রাসয়নিক গুণাবলীতে সক্রিয় প্রভাব বিস্তার করে।</li>
                <li>কর্দমের সংযোজনঃ কর্দম সংযোজনের মাধ্যমে উদ্ভিদের পুষ্টি উপাদান অপচয় কমায়।</li>
                <li>মাটির উন্নয়নঃ মাটির উন্নয়নে সহায়তা করে।</li>
                <li>কলোয়েড গুণাবলীঃ মাটির কলোয়েড গুনাবলী উন্নত করে।</li>
            </ul>

            <p>
                মাটির বালি কণা ও পলি কণার মধ্যে গুণগত পার্থক্যের চেয়ে তুলনামূলক ভাবে কর্দম কণার প্রকারগত পার্থক্য খুবই বেশি। মাটিতে শতাধিক প্রকারের ভিন্ন ভিন্ন গুণ সম্পন্ন কর্দম কণা রয়েছে।<br>
                <br>
                মৃত্তিকা কণার আকার বিশ্লেষণ (Particle size analysis)<br>
                <br>
                কোন মৃত্তিকা নমুনায় বা খনিজ অংশে কোন আকারের মৃত্তিকা কণা কি পরিমানে রয়েছে তা নির্ধারণ করার প্রক্রিয়াকে কণার আকার বিশ্লেষণ বা কারিগরী বিশ্লেষণ বলে। সাধারনত হাইড্রোমিটার পদ্ধতি এবং পিপেট পদ্ধতিতে বালি কণা, পলি কণা ও কর্দম কণার পরিমান নির্ধারন করে ওজনভিত্তিতে শতকরা হারে প্রকাশ করা হয়।
            </p>
        </div>
    </div>
    <div class="inner-tabs nav nav-tabs" role="tablist">

    </div>
</div>

<div class="inner-main-head">
    মাটির বুনট
</div>

<div class="inner-main-body">
    <div class="inner-brief-main-points">
        <div class="points-body">
            <p>
                মৃত্তিকার বুনট (Soil texture)<br>
                কোন মৃত্তিকায় বিভিন্ন আকারের একক কণার পারষ্পরিক অনুপাত দ্বারা সৃষ্ট স্থূলতা বা সুক্ষ্মতাকে মাটির বুনট বলে। বিভিন্ন আকারের বালি, পলি এবং কর্দম কণা বিভিন্ন অনুপাতে মিশে একটি বিশেষ বুনট শ্রেণীর মৃত্তিকা সৃষ্টি করে। বুনট মৃত্তিকার একটি মৌলিক ও স্থায়ী ধরনের ধর্ম। মৃত্তিকার ভৌত গুণাবলী বুনটের উপর নির্ভর করে। বিভিন্ন বুনটের মৃত্তিকার ধর্ম বা বৈশিষ্ট বিভিন্ন। এই সমস্ত বৈশিষ্টগত কারনের জন্য এক এক শ্রেণীর মৃত্তিকা ব্যবস্থাপনা এক এক রকম এবং এক এক ফসলের জন্য বিশেষ উপযোগী।<br>
                <br>
                আন্তর্জাতিক পদ্ধতির আওতায় মৃত্তিকাকে ১২টি বুনট শ্রেণীতে বিভক্ত করা হয়েছে। মৃত্তিকার এই শ্রেণীবিভাগ বিভিন্ন ব্যাসের মৃত্তিকা কণার অনুপাতের উপর ভিত্তি করে করা হয়েছে।<br>
                &nbsp;
            </p>

            <table border="1" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td valign="top">
                            <p align="center">বুনট&nbsp;শ্রেণী<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">বালি<span lang="BN">%</span><span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">পলি<span lang="BN">%</span><span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">কর্দম<span lang="BN">%</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>বেলে&nbsp;মাটি <span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৮৮<span lang="BN">-</span>১০০<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০৩<span lang="BN">-</span>০৭<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০০<span lang="BN">-</span>০৮</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>বেলে&nbsp;দোআঁশ <span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৭০<span lang="BN">-</span>৯২<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০০<span lang="BN">-</span>১২<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০৮<span lang="BN">-</span>২৯</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>দোআঁশ&nbsp;বালি<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৬৩<span lang="BN">-</span>৮৮<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০৩<span lang="BN">-</span>২৫<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০০<span lang="BN">-</span>১২</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>দোআঁশ<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৫০<span lang="BN">-</span>৭৬<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">১০<span lang="BN">-</span>২৫<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">১২<span lang="BN">-</span>২৬</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>পলি<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০০<span lang="BN">-</span>৫০<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৫০<span lang="BN">-</span>১০০<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০০<span lang="BN">-</span>২৬</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>পলি&nbsp;দোআঁশ<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">২৫<span lang="BN">-</span>৭৪<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">২৫<span lang="BN">-</span>৫০<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০০<span lang="BN">-</span>২৬</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>এটেল<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০০<span lang="BN">-</span>৬৩<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০০<span lang="BN">-</span>২৫<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৩১<span lang="BN">-</span>১০০</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>পলি&nbsp;এটেল<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০০<span lang="BN">-</span>৩৪<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">২৫<span lang="BN">-</span>৬০<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৪০<span lang="BN">-</span>৭৫</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>বেলে&nbsp;এটেল<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৪৫<span lang="BN">-</span>৬৫<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০০<span lang="BN">-</span>২০<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৩৪<span lang="BN">-</span>৪০</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>পলি&nbsp;এটেল দোআঁশ<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০০<span lang="BN">-</span>২০<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৪০<span lang="BN">-</span>৭৩<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">২৭<span lang="BN">-</span>৪০</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>এটেল&nbsp;দোআঁশ<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">২০<span lang="BN">-</span>৪৫<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">১৫<span lang="BN">-</span>৫৩<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">২৭<span lang="BN">-</span>৪০</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p>বেলে&nbsp;এটেল দোআঁশ<span lang="BN"> </span><span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">৬৩<span lang="BN">-</span>৮৩<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">০০<span lang="BN">-</span>১০<span lang="BN"> </span></p>
                        </td>
                        <td valign="top">
                            <p align="center">১৭<span lang="BN">-</span>৩০<span lang="BN"> </span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="inner-tabs nav nav-tabs" role="tablist">

    </div>
</div>

<div class="inner-main-head">
    মৃত্তিকা সংযুক্তি
</div>

<div class="inner-main-body">
    <div class="inner-brief-main-points">
        <div class="points-body">
            <p>মৃত্তিকা কণা যেমন বালি কণা, পলি কণা ও কর্দম কণা পারস্পরিকভাবে সন্নিবিষ্ট হয়ে মাটিতে যে সুনির্দিষ্ট বিন্যাস তৈরি হয় তাকে মৃত্তিকা সংযুক্তি বলে। প্রধানত জৈব পদার্থ এবং অন্যান্য আয়নিক প্রক্রিয়া নিয়ন্ত্র্রনকারী দ্রব্য মাটিতে আকর্ষী বা আঠালো দ্রব্যের ন্যায় কাজ কেও মৃত্তিকা সংযুক্তি উৎপন্ন করে। কৃষি জমি বা ফসল উৎপাদনের জন্য জমির উপযোগীতার প্রধান শর্ত হচ্ছে যে, এতে সংযুক্তি উৎপন্ন হতে হবে। নির্মান বা অন্যান্য কাজে ব্যবহৃত জমির এমন কোন পূর্বশর্ত নাই বা কোন কোন ক্ষেত্রে সংযুক্তি না থাকলেই ভাল হয়। মাটির কৃষি ব্যবহারে সংযুক্তি বা দানা বন্ধন মাটির একটি তাৎপর্যপূর্ণ গুণ। মাটির বুনট পরিবর্তনে তেমন সফলকাম হতে না পারলেও উপযুক্ত কৃষি পরিচর্যা দ্বারা মাটির সংযুক্তির উন্নয়ন সম্ভব। এতে মাটির উর্বরতা ও উৎপাদন ক্ষমতা বাড়ে।</p>
        </div>
    </div>
    <div class="inner-tabs nav nav-tabs" role="tablist">

    </div>
</div>